*{
  margin: 0;
  padding: 0;
  
  font-family: 'Poppins', sans-serif;
}

.system-title{
  font-size: 1.2rem;
  font-weight: bold;
}
.drop-down-menu{
  float: right;
  margin-right: 20px;
}
.medicineImg{
  max-width: 80px;
  max-height: 80px;
}